.card_container {
    min-width: 180px;
    min-height: 230px;
    flex-direction: row;
    box-shadow: 0 0 10px #232323;
    border-radius: 5px;

}

@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    
    25%{
        transform: rotate(.7deg);

    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-.7deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.card_container:hover{
animation-name: move;
animation-duration: 350ms;
}

.icon {
    background-color: #272727;
    background-image: url(../../assets/cardStyle.png);
    background-position: center;
    background-size: cover;
    height: 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 160px;
    font-size: 85px;
    color: #d13c01;
}

.app {
    /* font-family: 'Rock Salt', sans-serif; */
    font-size: 1.2rem;
    font-weight: 900;
    height: 90px;
    line-height: 90px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #232323;
    cursor: default;
}