*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #323232; */
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;background-attachment: fixed;
  font-family: 'MontSerrat', sans-serif;

}

li{
  list-style: none;
}

a:link{
  text-decoration: none;
}

p::first-letter{
  content: '';
  padding-left: 7px;
}

.info{
  color: gainsboro;
  text-decoration: underline;
}

p{
  color: grey;
  padding: 0 30px;
}

h2{
  padding: 0 30px;
}